<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="WindowsFormsApplication1.Properties.Settings.prototipo_DBConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DB.accdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <userSettings>
    <WindowsFormsApplication1.Properties.Settings>
      <setting name="teste" serializeAs="String">
        <value>document</value>
      </setting>
      <setting name="teste2" serializeAs="String">
        <value>PrintToPreview</value>
      </setting>
    </WindowsFormsApplication1.Properties.Settings>
  </userSettings>
</configuration>
